<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Donor</servlet-name>
        <servlet-class>Donor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reciever</servlet-name>
        <servlet-class>Reciever</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgot</servlet-name>
        <servlet-class>Forgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Correction</servlet-name>
        <servlet-class>Correction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Password</servlet-name>
        <servlet-class>Password</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Donor</servlet-name>
        <url-pattern>/Donor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reciever</servlet-name>
        <url-pattern>/Reciever</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgot</servlet-name>
        <url-pattern>/Forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Correction</servlet-name>
        <url-pattern>/Correction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Password</servlet-name>
        <url-pattern>/Password</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
